<header>
	<img src="{{ site.baseurl }}/img/text-logo.svg">

	<nav>
		<ul>
			<li class="nav-item top-level {% if page.url == '/' or page.url contains '/guide/' %}current{% endif %}">
				<a href="{{ site.baseurl }}/">Get Started Guide</a>
				{% assign guide_items = site.guide | sort: 'order' %}
				{% include secondary-nav-items.html items=guide_items %}
		</ul>

		<p class="maintained">
			Theme proudly made by
			<a target="_blank" href="http://cloudcannon.com"><img src="http://cloudcannon.com/img/logo.png"alt="CloudCannon"></a>
		</p>
	</nav>
</header>
